service cloud.firestore {
  match /databases/{database}/documents {
  	match /adminUser/{anything=**} {
    	allow read: if exists(/databases/$(database)/documents/adminUser/$(request.auth.uid));
    }
  	match /system/{anything=**} {
      allow read;
      allow write: if exists(/databases/$(database)/documents/adminUser/$(request.auth.uid));
    }
    match /user/{anything=**} {
      allow read, write;
    }
    match /allChat/{anything=**} {
      allow read, write;
    }
  }
}

function isAdmin() { 
	return exists(/databases/$(database)/documents/adminUser/$(request.auth.uid))
}