.flipInYY {
  animation-name: flipInYY
}

@keyframes flipInYY {
  from {
    -webkit-transform: perspective(1600px) rotate3d(0, 1, 0, 20deg);
    transform: perspective(1600px) rotate3d(0, 1, 0, 20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(1600px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(1600px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(1600px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(1600px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(1600px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(1600px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(1600px);
    transform: perspective(1600px);
  }
}