html,body {
	height: 100vh;
	overflow: hidden;
	font-family: 'Noto Sans TC', sans-serif, "微軟正黑體", "Microsoft JhengHei";
  font-size: '16px';
	margin: 0;
	padding: 0;
}
button {
  font-family: 'Noto Sans TC', sans-serif, "微軟正黑體", "Microsoft JhengHei";
}
main {
	width: 100vw;
	height: 100vh;
}
.visibility-hidden {
	visibility: hidden;
}
.caption {
  text-shadow: 3px 2px 0 #1d9d74, 6px 5px 0 rgba(0, 0, 0, .15);
  position: relative;
  color: white;
  margin: 0.2em 0;
}
a {
  color: #3F51B5;
  text-decoration: underline;
  cursor: pointer;
}
a:hover{
  color: #283593;
}

.box-shadow {
  box-shadow: 3px 2px 0 #1d9d74, 6px 5px 0 rgba(0, 0, 0, .15);
}

.modal {
  position: fixed; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-select {
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}