/* -- Variables -- */
$icolor: #fff;      /* icon color       */
$scolor: #12664b;   /* shadow color     */
$bcolor: #1b926c;   /* background color */
$bradius: 15;       /* bg border radius */
$length: 75;       /* box length       */

@mixin long-shadow ($scolor, $length) {
  $list: ();
  @for $i from 1 through $length/15 {
    $list: append($list, $scolor $i+px $i+px, comma);
  }
  text-shadow: $list;
}

.shadow-btn span {
  display: block;
  position: absolute;
  height: $length+px;
  width: $length+px;
  color: $icolor;
  @include long-shadow ($scolor, $length);
}

@mixin border-radius ($bradius) {
  -webkit-border-radius: $bradius+px;
  -moz-border-radius: $bradius+px;
  -ms-border-radius: $bradius+px;
  border-radius: $bradius+px;
}

.shadow-btn {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: $length+px;
  height: $length+px;
  font-size: $length/2+px;
  line-height: $length+px;
  background-color: $bcolor;
  @include border-radius ($bradius);
  cursor: pointer;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
}


