@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

body {
  font-size: 1.5em;
}

.stroke-text {
  color:black;
  font-weight: bold;
  @include stroke(2,#6D4C41);
  color: #F5F5F5 ;
}
