.fas, .far, .fa, .fab {
	vertical-align: middle;
}
@font-face {
	font-family: 'Zpix';
	src: url('zpix.ttf') format('truetype');
	text-rendering: optimizeSpeed;
}
* {
	font-family: 'Zpix';
}
@font-face {
	font-family: 'Mobile Font';
	src: url('MobileFont.ttf') format('truetype');
	text-rendering: optimizeSpeed;
}
.MobileFont {
	font-family: 'Mobile Font';
}
[v-cloak] {
	display: none;
}
a {
  color: #99befd !important;
	text-shadow: 0px 2px #5B6EE1, 3px 3px #86674d !important;
	cursor: pointer !important;
}
.yellow {
	color: #FBF236 !important;
}
.green {
	color: #6abe30 !important;;
}
.red {
  color: #d95763;
  text-shadow: 0px 2px #ac3232, 3px 3px #86674d !important;
}
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content:url(arrow.png) url(avatar-border.png) url(character-large.png) url(character-small.png) url(preserved-large.png) url(preserved-small.png) url(sticker.png);
}