.fas, .far, .fa {
	vertical-align: middle;
}
@font-face {
	font-family: 'Zpix';
	src: url('zpix.ttf') format('truetype');
	text-rendering: optimizeSpeed;
}
* {
	font-family: 'Zpix';
}
.fas, .far {
	vertical-align: middle;
}
[v-cloak] {
	display: none;
}
a {
  color: #99befd !important;
	text-shadow: 0px 2px #5B6EE1, 3px 3px #86674d !important;
	cursor: pointer !important;
}
.yellow {
	color: #FBF236 !important;
}
.green {
	color: #6abe30 !important;;
}