.fas, .far {
	vertical-align: middle;
}
@font-face {
	font-family: 'Zpix';
	src: url('static/zpix.ttf') format('truetype');
	text-rendering: optimizeSpeed;
}
* {
	font-family: 'Zpix';
}
.fas, .far {
	vertical-align: middle;
}
[v-cloak] {
	display: none;
}
a {
  color: #99befd !important;
  font-weight: bold !important;
  text-shadow: 0px 3px #5b6ee1, 3px 3px #86674d !important;
	cursor: pointer;
}
.yellow {
	color: #FBF236;
	font-weight: bold !important;
}